<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                            <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Venue 
                                        </th>
                                        <th>
                                            Venue Address
                                        </th>
                                        <th>
                                            City
                                        </th>
                                        <th>
                                                Start Time
                                    </th>
                                        
                                    </thead>
                                    <tbody>
                                        <div>
                                            
                                <!-- <mat-spinner>
                                </mat-spinner> -->
                                        </div>
                                        <div class="row">
                                        <div *ngIf="eventList.length < 1" class="lds-facebook text-center col-4 offset-4"><div></div><div></div><div></div></div>
                                            
                                    </div>
                                        <tr *ngFor="let event of eventList">
                                            <td>
                                                {{event.title}}
                                            </td>
                                            <td>
                                            {{event.venue_name}}
                                            </td>
                                            <td>
                                                {{event.venue_address}}
                                            </td>
                                            <td>
                                                {{event.city_name}}
                                            </td>
                                            <td>
                                                {{event.start_time}}
                                            </td>
                                            <td>
                                                <button class="mat-raised-button">DELETE</button>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
